#reservation_form {
  grid-template-areas: "form picture";

  @media (max-width: theme("screens.md")) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "title"
      "picture"
      "form";
  }
}

.form {
  grid-area: form;
}

.title {
  grid-area: title;
}

.picture {
  grid-area: picture;
}
