#reservation_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title picture"
    "form picture";

  @media (max-width: theme("screens.md")) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title"
      "picture"
      "form";
  }
}

.form {
  grid-area: form;
}

.title {
  grid-area: title;
}

.picture {
  grid-area: picture;
}
