@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: theme("colors.primary");
$accent: theme("colors.accent");
$neutral: theme("colors.Neutral");

body {
  background-color: theme("colors.background");
  color: hsla(0, 0%, 15%, 1);
  direction: rtl;
  scroll-behavior: smooth;
}

@layer components {
  .text-bt {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
  }

  .flexRowCol {
    display: flex;
    flex-direction: row;

    @screen md {
      flex-direction: column;
    }
  }

  .flexColRow {
    display: flex;
    flex-direction: column;

    @screen md {
      flex-direction: row;
    }
  }
}

.flex1 {
  flex: 1;
  margin-right: auto;
}

a {
  &:hover {
    color: theme("colors.purple.500");
    text-decoration: underline;
    cursor: pointer;
  }
}

button {
  width: 6.25rem;
  padding: 0.5rem 1rem;

  &.primary {
    background-color: $primary;
    color: theme("colors.white");
  }
}

h1 {
  @apply text-3xl font-extrabold lg:text-5xl;
}

h2 {
  @apply text-2xl font-bold lg:text-4xl;
}

h3 {
  @apply text-xl font-bold lg:text-2xl;
}

h4 {
  @apply text-lg md:text-lg lg:text-xl;
  font-weight: 400;
}

h5 {
  @apply text-sm md:text-base lg:text-lg;
  font-weight: 400;
}

h6 {
  font-size: 0.625rem;
  font-weight: 300;
}

p {
  @apply text-base font-normal md:text-lg lg:text-xl lg:leading-10;
  font-weight: 400;
}

input,
textarea {
  @apply w-full rounded-lg border-primary border-[1px] border-solid bg-transparent py-2;
}

// Blog post

article {
  padding-top: theme("spacing.12");

  h5,
  ul,
  p {
    @apply text-base mb-4 leading-6;
  }

  ol > li {
    @apply text-base my-4;
  }

  h6 {
    @apply text-sm;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary;
    position: relative;
  }

  section {
    @apply mb-14 md:mb-16 md:mx-gs;
    scroll-margin: 6rem;

    & > h2 {
      @apply md:mb-14 mb-10;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 3px;
        width: 100px;
        background-color: theme("colors.primary");
        right: 0;
        bottom: -0.5rem;

        @screen md {
          width: 270px;
          bottom: -1rem;
        }
      }
    }
  }
}

.highlight {
  @apply bg-primary text-white rounded-lg p-4 mb-8 text-opacity-50;
}

// Arrow button

.arrow-button {
  display: flex;
  transition: all 0.3s ease;
  cursor: pointer;
  align-items: center;
}

.arrow-button > .arrow {
  width: 8px;
  height: 8px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-style: solid;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all 0.3s ease;
}

.arrow-button > .arrow::before {
  display: block;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all 0.3s ease;
  content: "";
  right: 0;
}

.arrow-button:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
}

.arrow-button:hover > .arrow::before {
  opacity: 1;
  width: 12px;
}
