.content {
  h1 {
    margin-bottom: 2rem;
    padding-top: 2rem;
  }

  h2 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  section {
    margin-bottom: theme("spacing.6");
  }

  p {
    margin-bottom: theme("spacing.2");
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: initial;
    position: relative;
  }

  h2 {
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 3px;
      background-color: theme("colors.primary");
      bottom: -16px;
      right: 0;
    }
  }
}
